  </body>
  <footer>
      <div class="foot">
        <a class="footer-link" href="https://www.linkedin.com/in/gandhesaichandar/"> <i class="fa-brands fa-linkedin fa-lg"></i> </a>
        <a class="footer-link" href="https://www.instagram.com/stargsc/"><i class="fa-brands fa-instagram fa-lg"></i></a>
        <br>
        © Gandhe Sai Chandar <script>document.write(new Date().getFullYear())</script>
      </div>
  </footer>
</html>
